body{
    font-family: sans-serif;

    width: 1200px;
    border: 4px solid black;
    border-radius: 5px;
 
}

.footer{
    display:  flex;
    background-color: darkgray;
}

.footer_info {
    width: 40%;
    margin: 1%;

}
.footer_info> p{
    text-align: justify;
    margin-right: 20px;
}

.footer_contact{
    display: grid;   
    font-size: 15px;
    grid-template-columns: auto auto auto ;
    width: 60%;
    margin: 0%;
    padding: 0%;
}
